button {
  width: 100%;
  padding: 1rem 2.5rem;
  border: none;
  outline: none;
  border-radius: 3px;
  background: var(--blue);
  color: var(--white);
  font: 600 0.875rem "Roboto Mono", sans-serif;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    filter: brightness(0.9);
  }
}
