header {
  height: 3.75rem;
  background: var(--white);
  display: flex;

  .logo {
    width: 9rem;
    background: var(--blue);
    font: 600 1.2rem "Roboto Mono", sans-serif;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .avatar-content {
    flex: 1;
    padding: 0 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .circle {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid var(--gray-line);

      img {
        width: 100%;
      }
    }

    h4 {
      font: 600 1rem "Roboto", sans-serif;
      margin-left: 0.625rem;
    }
  }
}
