.wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.2rem;
}

button {
  outline: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-apparance: none;
  -moz-appearance: none;
  appearance: none;
}
button.btn {
  display: inline-block;
  border: 1px solid #232323;
  border-radius: 3px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
button.btn-medium {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 22px;
}
button.btn-dark {
  color: #fff;
  background: #232323;
}
button.btn-dark:hover {
  background: #fff;
  color: #232323;
}
.btn,
.count {
  display: flex;
  align-items: center;
  justify-content: center;
}
.count {
  width: 35px;
  height: 35px;
  font-weight: 600;
  font-size: 24px;
  color: tomato;
  background: #fff;
  border-radius: 3px;
}
form {
  margin-top: 0.935rem;
}
form .input-group {
  display: flex;
}
.input-group input[type="search"] {
  outline: 0;
  height: 35px;
  flex: 1;
  padding: 0px 15px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #dde4e6;
  background: #fff;
  font-size: 12px;
  line-height: 12px;
}
form .input-group button {
  width: 34px;
  height: 34px;
  background-color: tomato;
  color: #fff;
  border-radius: 0 3px 3px 0;
}
.error {
  font-size: 12px;
  font-weight: 600;
  color: tomato;
  margin-top: 0.3rem;
}
