button {
  outline: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-apparance: none;
  -moz-appearance: none;
  appearance: none;
}
button.btn {
  display: inline-block;
  border: 1px solid #3d3c3a;
  font-family: "Roboto Mono", sans-serif;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
button.btn-medium {
  width: 100%;
  line-height: 14px;
  padding: 15px;
  font-size: 14px;
}
button.btn-dark {
  color: #fff;
  background: #3d3c3a;
}
button.btn-dark:hover {
  background: #fff;
  color: #3d3c3a;
}
