@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&family=Roboto:wght@300;400;500;600;700&display=swap");

:root {
  --white: #fff;
  --background: #f2f3f5;
  --gray-line: #dcdde0;
  --text: #666666;
  --text-highlight: #b3b9ff;
  --title: #2e384d;
  --red: #e83f5b;
  --green: #4cd62b;
  --blue: #5965e0;
  --blue-dark: #4953b8;
  --blue-twitter: #2aa9e0;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}
html,
body {
  color: var(--text);
  background-color: var(--background);
}
body {
  font: 400 1rem "Roboto", sans-serif;
  overflow-x: hidden;
}
ol,
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  color: var(--title);
}
span {
  display: inline-block;
}
a {
  text-decoration: none;
  color: inherit;
}
a,
p {
  font: 400 0.875rem "Roboto Mono", sans-serif;
}

/* CLASSES GERAIS */
.container {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 2.5rem 2rem;

  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 93.75%;
  }
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1920px) {
}

::-webkit-scrollbar {
  width: 7px !important;
}
::-webkit-scrollbar-track {
  background: #232323 !important;
}
::-webkit-scrollbar-thumb {
  background: #232323 !important;
}
::-webkit-scrollbar-thumb:hover {
  background: #28f5be !important;
}
