@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;600&family=Rajdhani:wght@600&family=Poppins:wght@300;400;600&display=swap");

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  vertical-align: baseline;
}

body {
  font: 400 1rem "Poppins", sans-serif;
  overflow-x: hidden;
}

/* CLASSES GERAIS */
.container {
  width: 100%;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 15px;

  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 87.5%;
  }
  .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 93.75%;
  }
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1920px) {
}
